<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Services - Eldoret City Center Parking</title>
    <link rel="stylesheet" href="styles/index.css" />
    <link rel="shortcut icon" href="images/3.png" type="image/x-icon" />
  </head>
  <body>
    <%- include("_header.ejs") %>
    <main>
      <section>
        <h1>Complete your booking</h1>
        <div>
          <p>Location: <%=spaceInfo.location_name %></p>
          <p>Space name: <%=spaceInfo.space_label %></p>
          <p>Space category: <%= spaceInfo.description %></p>
          <p>
            Rate per Hour: KSH.
            <span id="rate"><%= spaceInfo.price_ksh_hour %></span>
          </p>
        </div>
        <form action="/bookspace" method="post">
          <input type="hidden" name="spaceId" value="<%=locals.spaceId%>" />
          <br />
          <div>
            <label for="payment">Select Payment Method</label>
            <select name="paymentMethod" id="payment">
              <option value="wallet">CCP Digital Wallet</option>
              <option value="mpesa">Mpesa</option>
              <option value="cash">Cash</option>
            </select>
          </div>
          <div>
            <label for="time">How long are you Parking </label>
            <select name="time" id="time">
              <option value="1">1 Hour</option>
              <option value="2">2 Hours</option>
              <option value="3">3 hours</option>
              <option value="4">4 hours or more</option>
            </select>
          </div>
          <p>Amount Expected to pay: KSH. <span id="total"></span></p>
          <div>
            <input type="submit" value="Complete Booking" />
          </div>
        </form>
      </section>
    </main>
    <script>
      const rateEl = document.getElementById("rate");
      const timeSelectEl = document.getElementById("time");
      const totalAmountEl = document.getElementById("total");
      totalAmountEl.textContent = rateEl.textContent;
      timeSelectEl.addEventListener("change", (event) => {
        totalAmountEl.textContent = event.target.value * rateEl.textContent;
      });
    </script>
    <%- include("_footer.ejs") %>
  </body>
</html>
