<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile - Eldoret City Center Parking</title>
    <link rel="stylesheet" href="styles/index.css" />
    <link rel="shortcut icon" href="images/3.png" type="image/x-icon" />
  </head>
  <body>
    <%- include("_header.ejs") %>
    <main>
      <section>
        <h1>Profile</h1>
        <br />
        <h2>Personal Information</h2>
        <h3><%= locals.user.fullname %></h3>
        <h3><%= locals.user.email %></h3>
        <h3><%= locals.user.phone %></h3>
      </section>
      <section>
        <h2>Active Booking</h2>
        <% const activeBookings =
        locals.bookings.filter(booking=>booking.booking_status == 'checked-in')
        %> <% if(activeBookings.length == 0){ %>
        <p>You currently not parked with us!</p>
        <% }else{ %> <% activeBookings.forEach(booking=>{ %>
        <h4>Space ID <%= booking.space %></h4>
        <% let currentTime = new Date() %> <% let checkInTime = new
        Date(booking.time_in) %> <% let timeDiff = currentTime.getTime() -
        checkInTime.getTime() %> <% const hoursPassed = Math.ceil(timeDiff /
        (1000 * 60 * 60)) %> <% if(hoursPassed == 1){ %>
        <p>Parking Time: 1 hour</p>
        <%}else{%>
        <p>Parking Time: <%=hoursPassed%> hours</p>
        <%}%>
        <a
          href="/checkout?space=<%=booking.space%>"
          style="background-color: blueviolet; color: white"
          >Check Out</a
        >
        <%})%> <%}%>
      </section>
      <section>
        <h2>Booking History</h2>
        <% const oldBookings =
        locals.bookings.filter(booking=>booking.booking_status == 'checked-out')
        %> <% if(oldBookings.length == 0){ %>
        <p>You have not packed with us before!</p>
        <%}else{%> <% oldBookings.forEach(booking=>{ %>
        <h4>Space ID <%= booking.space %></h4>
        <p>Date: <%= new Date(booking.time_in).toLocaleDateString() %></p>
        <% }) %> <%}%>
      </section>
    </main>
    <%- include("_footer.ejs") %>
  </body>
</html>
